@import url('https://rsms.me/inter/inter-ui.css');

body,
html {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100vh;
  color: #777;
  font-family: 'Inter UI', sans-serif;
  font-weight: 400;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('images/charbw.png');
  min-height: 100%;
}

/* Second image */
.bgimg-2 {
  background-image: url('images/chi.jpeg');
  opacity: 0.8;
  min-height: 500px;
}

/* Third image */
.bgimg-3 {
  background-image: url('images/code.jpeg');
  min-height: 500px;
}

.container {
  display: flex;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px 15px;
  background-color: #f1f1f1;
  opacity: 0.8;
  z-index: 1;
}

.nav-links {
  display: none;
  padding: 10px;
  opacity: 0.8;
}

.nav-links a {
  text-decoration: none;
  color: #777;
  padding: 5px;
  font-size: 20px;
}

.nav-links a:hover {
  color: #000;
}

#hero {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  color: white;
  background-color: #000;
  padding: 24px;
  opacity: 0.9;
}

#about {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.about-text {
  padding: 20px;
  margin-bottom: 20px;
}
.about-text h2 {
  text-align: center;
}
.about-text img {
  float: left;
  margin-right: 1em;
  max-width: 300px;
  height: auto;
  padding-bottom: 5px;
}

hr {
  max-width: 800px;
  margin-bottom: 40px;
  color: #777;
  border: solid 2px #777;
}

#bgimg-2,
#bgimg-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  background: #616161;
  color: white;
  text-align: center;
  font-size: 36px;
  padding: 2px 10px 2px 10px;
  opacity: 0.9;
}

#skills {
  /*background-color: #f1f1f1;*/
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.progress-bar {
  text-align: center;
  margin: 10px;
  width: 80vw;
  background-color: #f1f1f1;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
  color: white;
  display: block;
  height: 25px;
  background-color: #777;
  border-radius: 3px;
  transition: width 2s ease-in-out;
}

.tech-current {
  display: none;
}

.tech-learning,
.design {
  display: none;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.project {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-top: 15px;
}

.project img {
  width: 80%;
}

.links a {
  text-decoration: none;
  color: #777;
  padding: 10px;
}

.links a:hover {
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: #fff;
  background-color: #777;
}

footer .links {
  padding: 10px;
}

footer .links a {
  color: white;
}

.show {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-around;
  background-color: #616161;
  padding: 40px;
}

button {
  font-size: 24px;
  color: #777;
  font-family: 'Inter UI', sans-serif;
  background-color: #f1f1f1;
  border: 4px solid #fff;
  margin-right: 15px;
}

button:hover {
  border: 4px solid #777;
  text-decoration: none;
}

.current {
  color: black;
}

/*//Nav Icon*/
.burg {
  margin: 8px;
  width: 30px;
}

.burg1,
.burg3,
.burg2 {
  background-color: black;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

.burgChange1 {
  transform: translateY(12px) rotate(135deg);
}
.burgChange3 {
  transform: translateY(-12px) rotate(-135deg);
}
.burgChange2 {
  transform: scale(0);
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 650px) {
  .hero-text {
    padding: 5px;
  }
  .project {
    flex-basis: 100%;
    text-align: center;
  }
  .buttons button {
    font-size: 14px;
    padding: 10px;
  }
  .nav-links a {
    text-decoration: none;
    color: #000;
    padding: 10px;
  }
}

@media screen and (max-width: 550px) {
  .about-text img {
    max-width: 100%;
    float: none;
  }
}
